@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

:root {
  --main: #fa6e6e;
  --border-color: #f38081;
  --shadow-base: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  --grey: #d0d4d7;
  --circular-size: 9px;

  font-family: 'Roboto Condensed', sans-serif;
}

.App {
  text-align: center;
}

body {
  color: var(--grey);
  font-weight: lighter;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-weight: bolder;
  vertical-align: middle;
  font-size: 20px;
  width: 60px;
  height: 32px;
  color: white;
  background-color: var(--main);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: var(--shadow-base);
}

.container {
  max-width: 300px;
  margin: auto;
  padding: 2rem 0;
}

.progress {
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startStop {
  display: inline-block;
  width: 5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto;
  margin-bottom: 1rem;
}

.label {
  font-size: 1rem;
  margin-top: 1rem;
}

#reset {
  margin-top: 0.5rem;
  width: 100%;
  justify-self: center;
  align-self: center;
}
